.knowledge {
  background-color: #e5e5f7;
  background-image: radial-gradient(#444cf7 1.3px, #e5e5f7 1.3px);
  background-size: 26px 26px;
  overflow: hidden;

  &__picure {
    max-width: 500px;
  }

  &__paragraph {
    line-height: 1.7;
    margin-bottom: 15px;
  }

  &__img {
    width: 100%;
    display: block;
  }
}

.knowledge__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: center;
}
